h1{
    text-align: center;
    color: brown;
    
    font-size:20px;
}
table{
    width:100%;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
    border: 1px solid black;
}
th{
    background-color: rgb(240, 237, 60);
    color: black;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}
tr:nth-child(even){
    background-color:rgb(168, 168, 164);
}
tr:nth-child(odd){
    background-color: rgb(246, 246, 248);
}
